<div id="guildPanel">
  <div class="header">
    <div class="guildInfo">
      <div class="guildIcon">
        <div *ngIf="!icon" class="guildAcronym no-select">
          {{ nameAcronym }}
        </div>
        <img *ngIf="icon" [src]="icon" class="guildIconImg" />
      </div>
      <div id="guildName">{{ guild.name }}</div>
    </div>
    <button class="back" mat-raised-button color="primary" (click)="goBack()">
      Back
    </button>
  </div>
  <div id="separator"></div>
</div>
