<div id="verification">
  <h2>Verification Settings</h2>
  <form [formGroup]="verification">
    <mat-form-field
      appearance="outline"
      matTooltipPosition="left"
      matTooltip="Message instructing users on how to be verified, automatically sent in the verification channel."
    >
      <mat-label>Verify Message</mat-label>
      <textarea
        matInput
        formControlName="verifyMessage"
        [cdkTextareaAutosize]="true"
        placeholder="Type `-verify` to be verified."
      ></textarea>
    </mat-form-field>

    <mat-form-field
      appearance="outline"
      matTooltipPosition="left"
      matTooltip="Channels accessible by non-verified users."
    >
      <mat-label>Non-Verified Channels</mat-label>
      <mat-select formControlName="nonVerifiedChannels" multiple>
        <mat-option *ngFor="let channel of channels" [value]="channel.id">
          #{{ channel.name }}
        </mat-option>
        <mat-optgroup *ngFor="let cat of categories" [label]="cat.name">
          <mat-option *ngFor="let channel of cat.channels" [value]="channel.id">
            #{{ channel.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>

    <mat-slide-toggle
      [matTooltip]="verifyDesc"
      class="toggle"
      matTooltipPosition="left"
      formControlName="manualVerify"
      >Manual Verification</mat-slide-toggle
    >

    <br />

    <mat-slide-toggle
      *ngIf="verification.value.manualVerify"
      [matTooltip]="verifyDesc"
      class="toggle"
      matTooltipPosition="left"
      formControlName="pingStaff"
      matTooltip="Ping the staff role when someone applies for verification."
      >Ping Staff</mat-slide-toggle
    >

    <mat-form-field
      *ngIf="verification.value.manualVerify"
      appearance="outline"
      matTooltipPosition="left"
      matTooltip="Role given to those who manage verification applications."
      required
    >
      <mat-label>Staff Role</mat-label>
      <mat-select formControlName="staffRole" [(value)]="selectedStaffRole">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
      <mat-error *ngIf="staffRole.hasError('required')"
        >Please choose a role</mat-error
      >
    </mat-form-field>

    <mat-form-field
      *ngIf="verification.value.manualVerify"
      appearance="outline"
      matTooltipPosition="left"
      matTooltip="Message sent to users who are accepted for verification."
    >
      <mat-label>Accept Message</mat-label>
      <textarea
        matInput
        formControlName="acceptMessage"
        [cdkTextareaAutosize]="true"
        placeholder="You have been verified!"
      ></textarea>
    </mat-form-field>

    <mat-form-field
      *ngIf="verification.value.manualVerify"
      appearance="outline"
      matTooltipPosition="left"
      matTooltip="Message sent to users who are denied verification."
    >
      <mat-label>Deny Message</mat-label>
      <textarea
        matInput
        formControlName="denyMessage"
        [cdkTextareaAutosize]="true"
        placeholder="You've been denied verification. Contact staff to find out why."
      ></textarea>
    </mat-form-field>
  </form>

  <button
    class="generalFormField"
    color="primary"
    mat-raised-button
    (click)="save()"
    *ngIf="!saving"
  >
    Save
  </button>
  <mat-spinner
    *ngIf="saving"
    id="guilds-loading"
    [diameter]="36"
    color="accent"
    id="saving"
  ></mat-spinner>
</div>
