<div id="welcome">
  <img [src]=" 'https://api.autumn-forest.net/api/v1/cards/style1?textColor=' +
  encodeURIComponent(this.textColor.value) + '&backgroundColor=' +
  encodeURIComponent(this.backgroundColor.value) + '&profileColor=' +
  encodeURIComponent(this.profileColor.value) + '&profileBackground=' +
  encodeURIComponent(this.settings.welcome.profileBackground ||
  "https://i.imgur.com/GIU4FsK.jpg") " alt="Card Preview" height="200px" />
  <h2>Welcome Settings</h2>
  <form [formGroup]="welcome">
    <mat-form-field
      appearance="outline"
      matTooltipPosition="left"
      matTooltip="Channel where welcome cards are sent."
    >
      <mat-label>Welcome Channel</mat-label>
      <mat-select formControlName="welcomeChannel">
        <mat-option *ngFor="let channel of channels" [value]="channel.id">
          #{{ channel.name }}
        </mat-option>
        <mat-optgroup *ngFor="let cat of categories" [label]="cat.name">
          <mat-option *ngFor="let channel of cat.channels" [value]="channel.id">
            #{{ channel.name }}
          </mat-option>
        </mat-optgroup>
      </mat-select>
    </mat-form-field>
    <div class="colorPickers">
      <mat-form-field appearance="outline" class="colorPicker">
        <mat-label>Text Color</mat-label>
        <input matInput formControlName="textColor" type="color" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="colorPicker">
        <mat-label>Profile Color</mat-label>
        <input matInput formControlName="profileColor" type="color" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="colorPicker">
        <mat-label>Background Color</mat-label>
        <input matInput formControlName="backgroundColor" type="color" />
      </mat-form-field>
    </div>

    <app-upload-image
      [prefix]="guild.settings.general.prefix"
    ></app-upload-image>
  </form>

  <button
    class="generalFormField"
    color="primary"
    mat-raised-button
    (click)="save()"
    *ngIf="!saving"
  >
    Save
  </button>
  <mat-spinner
    *ngIf="saving"
    id="guilds-loading"
    [diameter]="36"
    color="accent"
    id="saving"
  ></mat-spinner>
</div>
