$autumn-primary: (
  50: #ffe9e7,
  100: #ffc7c3,
  200: #ffa29b,
  300: #ff7c73,
  400: #ff6055,
  500: #ff4437,
  600: #ff3e31,
  700: #ff352a,
  800: #ff2d23,
  900: #ff1f16,
  A100: #ffffff,
  A200: #fffcfc,
  A400: #ffcac9,
  A700: #ffb1af,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/* For use in src/lib/core/theming/_palette.scss */
$autumn-accent: (
  50: #ffefe6,
  100: #ffd6bf,
  200: #ffbb95,
  300: #ffa06b,
  400: #ff8b4b,
  500: #ff772b,
  600: #ff6f26,
  700: #ff6420,
  800: #ff5a1a,
  900: #ff4710,
  A100: #ffffff,
  A200: #fff9f8,
  A400: #ffd0c5,
  A700: #ffbcac,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
/* For use in src/lib/core/theming/_palette.scss */
$autumn-warn: (
  50: #edeaf2,
  100: #d2cbdd,
  200: #b4a8c7,
  300: #9685b1,
  400: #806aa0,
  500: #69508f,
  600: #614987,
  700: #56407c,
  800: #4c3772,
  900: #3b2760,
  A100: #c3a6ff,
  A200: #a173ff,
  A400: #7e40ff,
  A700: #6d26ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #ffffff,
    A700: #ffffff,
  ),
);
$teal-primary: (
  50: #e0f2f5,
  100: #b3dee6,
  200: #80c8d6,
  300: #4db2c6,
  400: #26a2b9,
  500: #0091ad,
  600: #0089a6,
  700: #007e9c,
  800: #007493,
  900: #006283,
  A100: #b0e7ff,
  A200: #7dd8ff,
  A400: #4ac9ff,
  A700: #30c1ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #ffffff,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$teal-accent: (
  50: #eefeff,
  100: #d4fefe,
  200: #b7fdfd,
  300: #9afcfc,
  400: #84fbfc,
  500: #6efafb,
  600: #66f9fa,
  700: #5bf9fa,
  800: #51f8f9,
  900: #3ff6f8,
  A100: #ffffff,
  A200: #ffffff,
  A400: #e0ffff,
  A700: #c7feff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$teal-warn: (
  50: #ffebf7,
  100: #ffcdeb,
  200: #ffabdd,
  300: #ff89cf,
  400: #ff70c5,
  500: #ff57bb,
  600: #ff4fb5,
  700: #ff46ac,
  800: #ff3ca4,
  900: #ff2c96,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffd8eb,
  A700: #ffbedd,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$purple-primary: (
  50: #f3ecfc,
  100: #e1cef7,
  200: #cdaef2,
  300: #b98eed,
  400: #aa75e9,
  500: #9b5de5,
  600: #9355e2,
  700: #894bde,
  800: #7f41da,
  900: #6d30d3,
  A100: #ffffff,
  A200: #ede4ff,
  A400: #cdb1ff,
  A700: #bc97ff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #ffffff,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$purple-accent: (
  50: #fdebf6,
  100: #fbcee9,
  200: #f8adda,
  300: #f58ccb,
  400: #f374c0,
  500: #f15bb5,
  600: #ef53ae,
  700: #ed49a5,
  800: #eb409d,
  900: #e72f8d,
  A100: #ffffff,
  A200: #fff6fa,
  A400: #ffc3e0,
  A700: #ffa9d3,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$purple-warn: (
  50: #fffce8,
  100: #fff7c6,
  200: #fff2a0,
  300: #feec79,
  400: #fee85d,
  500: #fee440,
  600: #fee13a,
  700: #fedd32,
  800: #fed92a,
  900: #fdd11c,
  A100: #ffffff,
  A200: #fffffe,
  A400: #fff4cb,
  A700: #ffefb2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$mint-accent: (
  50: #ebfaf2,
  100: #ccf2dd,
  200: #aaeac7,
  300: #88e2b1,
  400: #6fdba0,
  500: #55d58f,
  600: #4ed087,
  700: #44ca7c,
  800: #3bc472,
  900: #2aba60,
  A100: #fbfffc,
  A200: #c8ffdb,
  A400: #95ffba,
  A700: #7bffa9,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mint-primary: (
  50: #eefdf9,
  100: #d4faf1,
  200: #b7f7e8,
  300: #9af4df,
  400: #85f1d8,
  500: #6fefd1,
  600: #67edcc,
  700: #5cebc6,
  800: #52e8c0,
  900: #40e4b5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #cefff0,
  A700: #b4ffe8,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$mint-warn: (
  50: #fdebeb,
  100: #facdcd,
  200: #f7acac,
  300: #f38b8b,
  400: #f17272,
  500: #ee5959,
  600: #ec5151,
  700: #e94848,
  800: #e73e3e,
  900: #e22e2e,
  A100: #ffffff,
  A200: #fff1f1,
  A400: #ffbebe,
  A700: #ffa4a4,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #ffffff,
    700: #ffffff,
    800: #ffffff,
    900: #ffffff,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
$konashi-primary: (
  50: #fff6fe,
  100: #ffeafd,
  200: #ffdcfc,
  300: #ffcdfa,
  400: #ffc3f9,
  500: #ffb8f8,
  600: #ffb1f7,
  700: #ffa8f6,
  800: #ffa0f5,
  900: #ff91f3,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$konashi-accent: (
  50: #f7fffe,
  100: #ecfefd,
  200: #dffefc,
  300: #d2fdfb,
  400: #c9fcfa,
  500: #bffcf9,
  600: #b9fcf8,
  700: #b1fbf7,
  800: #a9fbf6,
  900: #9bfaf5,
  A100: #ffffff,
  A200: #ffffff,
  A400: #ffffff,
  A700: #ffffff,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);

$konashi-warn: (
  50: #fffff1,
  100: #feffdb,
  200: #feffc3,
  300: #feffab,
  400: #fdff99,
  500: #fdff87,
  600: #fdff7f,
  700: #fcff74,
  800: #fcff6a,
  900: #fcff57,
  A100: #ffffff,
  A200: #ffffff,
  A400: #fffffc,
  A700: #feffe2,
  contrast: (
    50: #000000,
    100: #000000,
    200: #000000,
    300: #000000,
    400: #000000,
    500: #000000,
    600: #000000,
    700: #000000,
    800: #000000,
    900: #000000,
    A100: #000000,
    A200: #000000,
    A400: #000000,
    A700: #000000,
  ),
);
