<div id="modules">
  <app-module
    name="Verification"
    [enabled]="guild.settings.verification?.enabled"
    description="Verify new users"
    identifier="verification"
    [guild]="guild"
  ></app-module>
  <app-module
    name="Moderation"
    [enabled]="guild.settings.moderation?.enabled"
    description="Moderation commands and modlog"
    identifier="moderation"
    [guild]="guild"
  ></app-module>
  <app-module
    name="Welcome"
    [enabled]="guild.settings.welcome?.enabled"
    description="Customizable welcome cards"
    identifier="welcome"
    [guild]="guild"
  ></app-module>
</div>
