.guildIcon {
  width: 60px;
  height: 60px;
  background-color: #242424;
  flex-shrink: 0;
  border-radius: 50%;
}

.guild {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 30px 0px;
  width: 100%;
}

.guildInfo {
  text-align: left;
  display: flex;
  align-items: center;
  justify-content: left;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.guildName {
  margin: 0 20px;
  font-size: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  flex-wrap: wrap;
  width: auto;
}
.guildBtn {
  flex-shrink: 0;
}
.guildIconImg {
  border-radius: 50%;
  width: 100%;
}

.guildAcronym {
  width: 100%;
  height: auto;
  font-size: 20px;
  position: relative;
  top: 50%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  text-align: center;
  overflow: hidden;
}
