<div id="homepage">
  <div class="head">
    <div class="header">
      <img src="../../assets/leaf.png" id="leaf" />
      <div class="name">
        <div id="title">Autumn Bot</div>
        <div id="description">The bot you didn't know you needed.</div>
      </div>
    </div>
    <a href="http://autm.fr/autumnbot">
      <button mat-raised-button color="primary">Invite Bot</button>
    </a>
    <a href="http://autm.fr/autumnbotsupport">
      <button mat-raised-button color="primary">Support Server</button>
    </a>
  </div>
  <div id="features">
    <div class="feature">
      <img src="../../assets/images/verification.png" class="feature-img" />
      <div class="feature-body align-left">
        <h1 class="feature-name">Verification</h1>
        <p class="feature-desc">
          Verify new users when they join your server! Protect against unwanted
          raids, bot accounts, and trolls. Either manually verify new users, or
          let the bot do it for you.
        </p>
      </div>
    </div>
    <div class="separator"></div>
    <div class="feature">
      <div class="feature-body align-left">
        <h1 class="feature-name">Customizable Welcome Cards</h1>
        <p class="feature-desc">
          Greet new users to your server with customizable welcome cards! Change
          the text color, background color, or even the background image!
        </p>
      </div>
      <img src="../../assets/images/welcomecard.png" class="feature-img" />
    </div>
    <div class="separator"></div>
    <div class="feature">
      <img src="../../assets/images/customembed.png" class="feature-img" />
      <div class="feature-body align-left">
        <h1 class="feature-name">Custom Embeds</h1>
        <p class="feature-desc">
          Spice up your server with 100% custom (and 100% free) embeds!
        </p>
      </div>
    </div>
  </div>
</div>
