<div id="homepage">
  <div id="stars"></div>
  <div id="stars2"></div>
  <div id="stars3"></div>
  <div class="head">
    <div id="content">
      <div class="header">
        <img src="../../assets/leaf.png" id="leaf" />
        <div class="name">
          <div id="title">Autumn Bot</div>
          <div id="description">The bot you didn't know you needed.</div>
        </div>
      </div>
      <a href="http://autm.fr/autumnbot">
        <button mat-raised-button color="primary">Invite Bot</button>
      </a>
      <a href="http://autm.fr/autumnbotsupport">
        <button mat-raised-button color="accent">Support Server</button>
      </a>
    </div>
  </div>
</div>
