<div id="general">
  <form [formGroup]="general">
    <mat-form-field
      appearance="outline"
      matTooltipPosition="right"
      matTooltip="Prefix indicating a message is a command."
    >
      <mat-label>Command Prefix</mat-label>
      <input matInput formControlName="prefix" />
    </mat-form-field>

    <br />

    <mat-form-field
      appearance="outline"
      matTooltipPosition="right"
      matTooltip="Role given to uses when they join, or are verified."
    >
      <mat-label>Member Role</mat-label>
      <mat-select formControlName="memberRole" [(value)]="selectedMemberRole">
        <mat-option>None</mat-option>
        <mat-option *ngFor="let role of roles" [value]="role.id">
          {{ role.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <br />

    <mat-slide-toggle
      matTooltip="Delete command sent by users."
      class="toggle"
      matTooltipPosition="right"
      formControlName="deleteCommands"
      >Delete Commands</mat-slide-toggle
    >

    <br />

    <mat-slide-toggle
      matTooltip="If enabled, Autumn will response do certain keywords with a randomly chosen meme emoji. (KEK, Pog, Pepe, etc)"
      class="toggle"
      matTooltipPosition="right"
      formControlName="memeResponses"
      >Meme Responses</mat-slide-toggle
    >
  </form>

  <button
    class="generalFormField"
    color="primary"
    mat-raised-button
    *ngIf="!saving"
    (click)="save()"
  >
    Save
  </button>
  <mat-spinner
    *ngIf="saving"
    id="guilds-loading"
    [diameter]="36"
    color="accent"
    id="saving"
  ></mat-spinner>
</div>
